html,
body {
  -webkit-user-select: none;
  user-select: none;
  margin: 0;
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
  background-color: #d9d7d3;
  font-family: Arial, sans-serif;
}

body {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.abt-container {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.navbar {
  font-size: 15px;
  list-style-type: none;
  padding: 0;
  margin: 8px 0 0 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: calc(100% - 40px);
  height: 45px;
  border-bottom: 2px solid #43413a;
  text-transform: uppercase;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left,
.navbar-right,
.navbar-center {
  gap: 20px;
  opacity: 0;
  animation: slide-nav-in 1000ms ease-in-out forwards;
  animation-delay: 600ms;
}

.navbar-left li:last-child a {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

.navbar-center {
  text-transform: capitalize;
  position: absolute;
  left: calc(50% - 72.51px);
}

.navbar-center li {
  font-family: 'VincentFont', serif;
  font-size: 29px;
  padding-bottom: 5px;
}

.navbar li {
  list-style-type: none;
}

.navbar li a {
  display: block;
  color: #43413a;
  text-decoration: none;
  text-align: center;
}

.navbar-center li a {
  padding: 14px 20px;
}

.navbar-left li:nth-child(2) a:hover,
.navbar-left li:nth-child(3) a:hover,
.navbar-left li:first-child a:hover,
.navbar-right li a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 4px;
}

.title-overlay {
  width: 100vw;
  font-size: 5.5vw;
  opacity: 0;
  animation: slide-title-in 850ms ease-in-out forwards;
  animation-delay: 1350ms;
}

.caixa {
  width: 100vw;
  overflow: hidden;
  padding-top: 40px;
  position: relative;
  color: #43413a;
  top: 58px;
  display: flex;
  height: 10%;
  align-items: center;
  text-align: center;
  font-family: 'VincentFont', serif;
}

.center-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  margin-top: 70px;
}

.background-image {
  width: 100%;
  height: auto;
}

.text-tabs {
  display: flex;
  gap: 15px;
}

.tab-button {
  font-size: 0.9vw;
  color: #43413a;
  padding: 0.7vw 0.8vw;
  text-decoration: none;
  border: 2px solid #43413a;
  border-radius: 50px;
  text-align: center;
  transition: background-color 400ms;
}

.tab-button:hover {
  transition: background-color 400ms;
  background-color: rgba(50, 47, 41, 0.699);
  cursor:pointer;
}

.tab-button.active {
  background-color: #43413a;
  color: #d9d7d3;
  transition: background-color 400ms;
}

.tab-content {
  display: none;
  font-size: 16px;
  color: #43413a;
  line-height: 1.6;
  opacity: 0;
  transition: opacity 600ms ease-in-out;
}


.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 75%;
}

.abt-section {
  padding: 20px;
  width: 72%;
  box-sizing: border-box;
}

.bio-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
  opacity: 0;
  animation: slide-intro-master 1500ms ease-in-out;
  animation-delay: 1500ms;
}

.bio-image {
  width: 100%;
  max-width: 940px;
  height: auto;
}

.bio-text {
  width: 100%;
  font-family: Arial, sans-serif;
  color: #43413a;
}

.bio-text h2 {
  font-family: 'VincentFont', serif;
  font-size: 4vw;
  margin: 0 0 10px;
}

.bio-text p {
  font-size: 1.05vw;
  line-height: 1.6;
}

.slide-gal-down{
  opacity: 0;
  animation: slide-intro-master 1500ms ease-in-out;
  animation-delay: 2500ms;
}


.slide-gal-up{
  opacity: 0;
  animation: slide-letter-in 1500ms ease-in-out;
  animation-delay: 2500ms;
}


.gallery-container {
  justify-content: space-between;
  display: flex;

}

.gallery-down {
  --d: 10s;
  display: grid;
  grid-template-rows: repeat(4, 105px);
  gap: 40px;
  justify-items: center;
  align-items: center;
  justify-content: start;
  overflow: hidden;
}

.gallery-down>img {
  width: auto;
  grid-area: 1/1;
  height: 250px;
  animation: down var(--d) linear infinite reverse;
}

.gallery-up {
  --d: 10s;
  display: grid;
  grid-template-rows: repeat(4, 105px);
  gap: 40px;
  justify-items: center;
  align-items: center;
  justify-content: end;
  overflow: hidden;
}

.gallery-up>img {
  width: auto;
  grid-area: 1/1;
  height: 220px;
  animation: down var(--d) linear infinite;
}

.gallery-down>img:nth-child(2),
.gallery-up>img:nth-child(2) {
  animation-delay: calc(-0.2 * var(--d));
}

.gallery-down>img:nth-child(3),
.gallery-up>img:nth-child(3) {
  animation-delay: calc(-0.4 * var(--d));
}

.gallery-down>img:nth-child(4),
.gallery-up>img:nth-child(4) {
  animation-delay: calc(-0.6 * var(--d));
}

.gallery-down>img:nth-child(5),
.gallery-up>img:nth-child(5) {
  animation-delay: calc(-0.8 * var(--d));
}